@charset "UTF-8";
/* ############################################ DESKTOP DESIGN ############################################*/
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #e7e7e7;
  /*elegimos el color que va a tener de fondo nuestra pagina*/ }

/*Encabezado de la pagina web*/
/*Con background-color elegimos el color del fondo de esta seccion*/
header {
  background-color: white;
  position: fixed;
  /*nos permite dejar fijo en toda la pagina web el menu de navegacion*/
  width: 100%; }

h1 {
  text-align: center;
  color: #e9e9e9;
  font-family: "Poppins", sans-serif;
  font-size: 30px; }

h2,
h3 {
  text-align: center;
  color: #e9e9e9;
  font-family: "Poppins", sans-serif;
  font-size: 30px; }

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px; }

p {
  color: #363636;
  font-size: 15px;
  font-family: monospace;
  line-height: 2; }

nav {
  padding: 1.5%;
  /*establecemos el padding*/ }
  nav ul {
    list-style-type: none;
    /*Elimina los bullets o viñetas de nuestra lista*/
    text-align: center;
    /*Alinea el texto hacia el centro*/ }
    nav ul li {
      padding: 0.5%;
      display: inline;
      /*Alinea la lista no ordenada del menu para que se vea de forma horizontal*/ }
      nav ul li a {
        color: black;
        font-family: "Poppins", sans-serif;
        /*Con la propiedad "font.family" traemos como valor nuestra fuente tipografica, linkeada en el html*/
        font-size: 15px;
        /*Definimos su tamaño*/
        text-decoration: none;
        /*Con esta propiedad le quitamos el subrayado a nuestro menu*/
        padding: 0px; }
        nav ul li a:hover {
          font-weight: bold;
          /*al pasar el mouse se ponen las letras en negrita*/
          font-family: "Poppins", sans-serif;
          font-size: 15px;
          text-decoration: none; }

main.contenedor-seccion {
  grid-template-columns: repeat(2, 50% 50%);
  grid-template-rows: auto 1fr 1fr 6%;
  grid-template-areas: "title title" "section-imagen1 section-parrafo1" "section-parrafo2 section-imagen2" "footer footer";
  display: grid; }
  main.contenedor-seccion .section-imagen1 {
    padding: 2%;
    margin-left: 2%;
    grid-area: section-imagen1; }
    main.contenedor-seccion .section-imagen1 .img__home {
      border-radius: 10px;
      object-fit: cover; }
  main.contenedor-seccion .section-parrafo1 {
    background-color: white;
    margin-top: 12%;
    margin-left: 6%;
    margin-right: 10%;
    height: 19rem;
    padding: 2%;
    grid-area: section-parrafo1;
    transition: 0.5s; }
    main.contenedor-seccion .section-parrafo1:hover {
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19); }
  main.contenedor-seccion .section-imagen2 {
    padding: 15px;
    grid-area: section-imagen2; }
  main.contenedor-seccion .section-parrafo2 {
    background-color: white;
    margin-top: 12%;
    margin-left: 6%;
    margin-right: 10%;
    height: 19rem;
    padding: 2%;
    grid-area: section-parrafo2;
    transition: 0.5s; }
    main.contenedor-seccion .section-parrafo2:hover {
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19); }
  main.contenedor-seccion .title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)), url(../img/costa.jpg);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: title; }
  main.contenedor-seccion footer {
    grid-area: footer; }
    main.contenedor-seccion footer .seguinos-container {
      display: flex;
      justify-content: end; }
    main.contenedor-seccion footer .links {
      display: flex;
      width: 100%; }
      main.contenedor-seccion footer .links a {
        color: #868282;
        text-decoration: none;
        margin-right: 3%; }
        main.contenedor-seccion footer .links a:hover {
          color: rgba(255, 255, 255, 0.747);
          text-decoration: none;
          margin-right: 3%; }
    main.contenedor-seccion footer .all-links {
      width: 100%; }
    main.contenedor-seccion footer .linksdeinteres {
      color: rgba(255, 255, 255, 0.747);
      margin-bottom: 1%;
      width: 400px; }
    main.contenedor-seccion footer .redes {
      margin-bottom: 1%;
      opacity: 0.75; }
    main.contenedor-seccion footer .redes:hover {
      opacity: 1; }

/* ############################################ TABLET DESIGN ############################################*/
@media (min-width: 600px) and (max-width: 1024px) {
  main.contenedor-seccion {
    grid-template-columns: 1fr;
    grid-template-rows: auto 20% 20% 20% 20% 2%;
    grid-template-areas: "title" "section-imagen1" "section-parrafo1" "section-imagen2" "section-parrafo2" "footer ";
    display: grid; }
    main.contenedor-seccion .title {
      width: 100%;
      height: 150vh;
      grid-area: title; }
    main.contenedor-seccion h1 {
      font-size: 3rem; }
    main.contenedor-seccion h2,
    main.contenedor-seccion h3 {
      font-size: 3rem; }
    main.contenedor-seccion .img__home {
      border-radius: 10px;
      object-fit: cover;
      width: 1000px; }
    main.contenedor-seccion .section-imagen1 {
      grid-area: section-imagen1;
      margin-top: 3%;
      padding: 5%;
      margin-left: 27rem; }
    main.contenedor-seccion .section-parrafo1 {
      grid-area: section-parrafo1;
      margin-top: 22rem;
      margin-left: 33rem;
      margin-right: 33rem;
      height: 20rem;
      width: 58rem; }
    main.contenedor-seccion .section-imagen2 {
      grid-area: section-imagen2;
      margin-left: 32rem;
      margin-right: 24rem;
      margin-bottom: 10rem; }
    main.contenedor-seccion .section-parrafo2 {
      margin-top: 12rem;
      margin-bottom: 4%;
      margin-left: 32rem;
      height: 10rem;
      padding: 2%;
      width: 60rem;
      grid-area: section-parrafo2; } }

/* ############################################ MOBILE DESIGN ############################################*/
@media screen and (max-width: 600px) {
  /* Mobile Home*/
  main.contenedor-seccion {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title" "section-imagen1" "section-parrafo1" "section-imagen2" "section-parrafo2" "footer";
    display: grid; }
    main.contenedor-seccion .title {
      grid-area: title;
      width: 100%;
      height: 50vh; }
    main.contenedor-seccion .section-imagen1 {
      grid-area: section-imagen1;
      margin-top: 1%;
      margin-left: 1%;
      margin-right: 1%; }
    main.contenedor-seccion .section-parrafo1 {
      grid-area: section-parrafo1;
      margin-top: 1%;
      margin-left: 1%;
      margin-right: 1%; }
    main.contenedor-seccion .section-imagen2 {
      grid-area: section-imagen2;
      margin-left: 1%;
      margin-right: 1%; }
    main.contenedor-seccion .section-parrafo2 {
      margin-top: 1%;
      margin-left: 1%;
      margin-right: 1%;
      grid-area: section-parrafo2;
      margin-bottom: 2%; } }
