/* ############################################ DESKTOP DESIGN ############################################*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(231, 231, 231);
  /*elegimos el color que va a tener de fondo nuestra pagina*/
}

/*Encabezado de la pagina web*/
/*Con background-color elegimos el color del fondo de esta seccion*/
header {
  background-color: white;
  position: fixed;
  /*nos permite dejar fijo en toda la pagina web el menu de navegacion*/
  width: 100%;
}

nav {
  padding: 1.5%;
  /*establecemos el padding*/
}

/*Menu de navegacion*/
ul {
  list-style-type: none;
  /*Elimina los bullets o viñetas de nuestra lista*/
  text-align: center;
  /*Alinea el texto hacia el centro*/
}

ul li {
  padding: 0.5%;
  display: inline;
  /*Alinea la lista no ordenada del menu para que se vea de forma horizontal*/
}

ul li a {
  color: black;
  font-family: "Poppins", sans-serif;
  /*Con la propiedad "font.family" traemos como valor nuestra fuente tipografica, linkeada en el html*/
  font-size: 15px;
  /*Definimos su tamaño*/
  text-decoration: none;
  /*Con esta propiedad le quitamos el subrayado a nuestro menu*/
  padding: 0px;
}

/*con el selector hover le damos estilo a el menu de navegacion, cuando pasamos el mouse*/
ul li a:hover {
  font-weight: bold;
  /*al pasar el mouse se ponen las letras en negrita*/
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-decoration: none;
  padding: 1px;
}

/*Le agregamos estilos de tipografia, color y tamaño a los titulos y parrafos*/
h1 {
  text-align: center;
  color: rgb(233, 233, 233);
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

h2,
h3 {
  text-align: center;
  color: rgb(233, 233, 233);
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

p {
  color: rgb(54, 54, 54);
  font-size: 15px;
  font-family: monospace;
  line-height: 2;
}

/* Seccion del Home */
main.contenedor-seccion {
  grid-template-columns: repeat(2, 50% 50%);
  grid-template-rows: auto 1fr 1fr 6%;
  grid-template-areas:
    "title title"
    "section-imagen1 section-parrafo1"
    "section-parrafo2 section-imagen2"
    "footer footer";
  display: grid;
}

.section-imagen1 {
  padding: 2%;
  margin-left: 2%;
  grid-area: section-imagen1;
}
.img__home {
  border-radius: 10px;
  object-fit: cover;
}

.section-parrafo1 {
  background-color: rgb(255, 255, 255);
  margin-top: 12%;
  margin-left: 6%;
  margin-right: 10%;
  height: 19rem;
  padding: 2%;
  grid-area: section-parrafo1;
}
main.contenedor-seccion-2 {
  display: flex;
  flex-flow: row nowrap;
  padding: 2%;
}
.section-imagen2 {
  padding: 15px;
  grid-area: section-imagen2;
}
.section-parrafo2 {
  background-color: rgb(255, 255, 255);
  margin-top: 12%;
  margin-left: 6%;
  margin-right: 10%;
  height: 19rem;
  padding: 2%;
  grid-area: section-parrafo2;
}
/*Le damos estilo al titulo que va a estar junto a una imagen*/
.title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)),
    url(../img/costa.jpg);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: title;
}

/*Pie de pagina*/
.footer-horizontal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

footer {
  background-color: rgb(59, 59, 59);
  padding: 2%;
  grid-area: footer;
}

.seguinos-container {
  width: 70%;
  text-align: right;
}

.links {
  display: flex;
  width: 100%;
}

.links a {
  color: rgb(134, 130, 130);
  text-decoration: none;
  margin-right: 3%;
}

.links a:hover {
  color: rgba(255, 255, 255, 0.747);
  text-decoration: none;
  margin-right: 3%;
}

.all-links {
  width: 100%;
}

.linksdeinteres {
  color: rgba(255, 255, 255, 0.747);
  margin-bottom: 1%;
  width: 400px;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  opacity: 0.75;
}

.fa:hover {
  opacity: 1;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: 1.5%;
}

.fa-instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  color: white;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: 1.5%;
}

.fa-twitter {
  background: #55acee;
  color: white;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.redes {
  padding-left: 1%;
  padding-right: 1%;
}

/*Seccion de Actividades*/

.contenedor__actividades {
  display: flex;
  padding: 2%;
}

.imagen__A {
  width: 250%;
  height: 250%;
  margin-top: 4%;
}
.parrafo__A {
  padding: 3%;
  text-align: left;
  margin-right: 5%;
  margin-left: 4%;
  margin-top: 3%;
  background-color: rgb(255, 255, 255);
}

.titulo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)),
    url(../img/perritoenlaplaya.jpg);
  width: 99%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  align-items: center;
  text-align: left;
}

.white {
  color: rgba(245, 245, 245, 0.842);
  text-align: left;
  font-size: 2rem;
}

/*Seccion Gatronomia*/
.grid-gastronomia {
  display: grid;
  grid-template-columns: 42rem 42rem;
  grid-template-rows: 40% 30% 30% 6%;
  grid-template-areas:
    "titulo-gastronomia titulo-gastronomia "
    "imagen1 parrafo1"
    "parrafo2 imagen2"
    "footer footer";
}

.titulo-gastronomia {
  grid-area: titulo-gastronomia;
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)),
    url(../img/gastronomia.jpg);
  width: 99%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  align-items: center;
}

.imagen1 {
  grid-area: imagen1;
  margin-left: 3%;
}

.parrafo1 {
  height: 40%;
  padding: 2%;
  margin-left: 4%;
  margin-right: 5%;
  margin-top: 10%;
  font-family: monospace;
  font-size: 25px;
  line-height: 2;
  background-color: rgb(255, 255, 255);
  grid-area: parrafo1;
}

.parrafo2 {
  text-align: left;
  color: rgb(54, 54, 54);
  display: flex;
  padding: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  height: 45%;
  font-family: monospace;
  line-height: 2;
  background-color: rgb(255, 255, 255);
  grid-area: parrafo2;
}
.imagen2 {
  grid-area: imagen2;
  margin-right: 2%;
  margin-left: 10%;
  margin-bottom: 4%;
}

/*Seccion Galeria*/

.gridContainerGaleria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 400px);
  gap: 1rem;
  padding: 1.5rem;
}
.img__gallery {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.foto-a {
  grid-row: 1/3;
}
.foto-b {
  grid-column: 2/4;
}
.tituloGaleria {
  background-color: rgb(41, 116, 141);
  padding: 6%;
}

/*Seccion Contacto*/
.titulo-contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)),
    url(../img/contactate.jpg);
  width: 99%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  align-items: center;
  text-align: left;
}

.formulario {
  padding: 4%;
  display: flex;
  margin-top: 2%;
  margin-left: 4%;
  flex-direction: column;
  margin-right: 700px;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
}

.Datos__formulario {
  padding: 3%;
  display: flex;
  margin-bottom: 4%;
  width: 60rem;
}
.newsletter {
  font-size: 16px;
  font-family: monospace;
  color: rgb(26, 26, 26);
}
.h4-titulo {
  padding: 5%;
  text-align: center;
}
.mapa {
  padding: 3%;
}

/* ############################################ TABLET DESIGN ############################################*/
@media (min-width: 600px) and (max-width: 1024px) {
  /*Media Queries*/
  /*Tablet generico*/
  .footer-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    background-color: rgb(59, 59, 59);
    padding: 2%;
    grid-area: footer;
  }

  /*Media Queries*/
  /*Tablet Home*/
  main.contenedor-seccion {
    grid-template-columns: 1fr;
    grid-template-rows: auto 20% 20% 20% 20% 2%;
    grid-template-areas:
      "title"
      "section-imagen1"
      "section-parrafo1"
      "section-imagen2"
      "section-parrafo2"
      "footer ";
    display: grid;
  }
  .title {
    width: 100%;
    height: 150vh;
    grid-area: title;
  }
  h1 {
    font-size: 3rem;
  }
  h2,
  h3 {
    font-size: 3rem;
  }

  .img__home {
    border-radius: 10px;
    object-fit: cover;
    width: 1000px;
  }
  .section-imagen1 {
    grid-area: section-imagen1;
    margin-top: 3%;
    padding: 5%;
    margin-left: 27rem;
  }
  .section-parrafo1 {
    grid-area: section-parrafo1;
    margin-top: 22rem;
    margin-left: 33rem;
    margin-right: 33rem;
    height: 20rem;
    width: 58rem;
  }
  .section-imagen2 {
    grid-area: section-imagen2;
    margin-left: 32rem;
    margin-right: 24rem;
    margin-bottom: 10rem;
  }
  .section-parrafo2 {
    margin-top: 12rem;
    margin-bottom: 4%;
    margin-left: 32rem;
    height: 10rem;
    padding: 2%;
    width: 60rem;
    grid-area: section-parrafo2;
  }

  /*Media Queries*/
  /*Tablet Gastronomia*/
  .grid-gastronomia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 3%;
    grid-template-areas:
      "titulo-gastronomia"
      "imagen1"
      "parrafo1"
      "imagen2"
      "parrafo2"
      "footer";
  }

  .titulo-gastronomia {
    width: 100%;
    height: 70vh;
  }
  .imagen1 {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
  }
  .parrafo1 {
    height: 18rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .imagen2 {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 4%;
  }
  .parrafo2 {
    height: 18rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  p {
    color: rgb(54, 54, 54);
    font-size: 15px;
    font-family: monospace;
    line-height: 2;
  }
}

/* ############################################ MOBILE DESIGN ############################################*/
@media screen and (max-width: 600px) {
  /*Media Queries*/
  /*Mobile generico*/
  .footer-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    background-color: rgb(59, 59, 59);
    padding: 2%;
    grid-area: footer;
  }

  /* Mobile Home*/
  main.contenedor-seccion {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "section-imagen1"
      "section-parrafo1"
      "section-imagen2"
      "section-parrafo2"
      "footer";
    display: grid;
  }

  .title {
    grid-area: title;
    width: 100%;
    height: 50vh;
  }

  .section-imagen1 {
    grid-area: section-imagen1;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .section-parrafo1 {
    grid-area: section-parrafo1;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .section-imagen2 {
    grid-area: section-imagen2;
    margin-left: 1%;
    margin-right: 1%;
  }
  .section-parrafo2 {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    grid-area: section-parrafo2;
    margin-bottom: 2%;
  }

  /*Mobile Gastronomia*/
  .grid-gastronomia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 20rem 20rem 20rem 20rem 8rem;
    grid-template-areas:
      "titulo-gastronomia  "
      "imagen1"
      "parrafo1"
      "imagen2"
      "parrafo2"
      "footer";
  }
  .titulo-gastronomia {
    width: 100%;
    height: 50vh;
  }
  .imagen1 {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .parrafo1 {
    margin-top: 1rem;
    height: 18rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .imagen2 {
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .parrafo2 {
    margin-top: 1rem;
    height: 15rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  /*Mobile Galeria*/
  .gridContainerGaleria {
    display: grid;
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: repeat(4, 400px);
    gap: 1rem;
    padding: 2rem;
  }
  .foto-b {
    grid-column: 2/2;
  }
  .tituloGaleria {
    background-color: rgb(41, 116, 141);
    padding: 4rem;
    width: 28rem;
  }
}
