/* ############################################ TABLET DESIGN ############################################*/
/*Tablet Home*/
@media (min-width: 600px) and (max-width: 1024px) {
  .section-imagen1 {
    padding: 1%;
    margin-left: 5%;
    grid-area: section-imagen1;
  }
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }

  .section-parrafo1 {
    background-color: rgb(255, 255, 255);
    margin-top: 12%;
    margin-left: 6%;
    margin-right: 10%;
    height: 19rem;
    padding: 2%;
    grid-area: section-parrafo1;
    transition: 0.5s;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    }
  }

  .section-imagen2 {
    padding: 15px;
    grid-area: section-imagen2;
    .img__home {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .section-parrafo2 {
    background-color: rgb(255, 255, 255);
    margin-top: 12%;
    margin-left: 6%;
    margin-right: 10%;
    height: 19rem;
    padding: 2%;
    grid-area: section-parrafo2;
    transition: 0.5s;
    &:hover {
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    }
  }
  /*Tablet Gastronomia*/
  .grid-gastronomia {
    display: grid;
    grid-template-columns: 42rem 42rem;
    grid-template-rows: 40% 30% 30% 6%;
    grid-template-areas:
      "titulo-gastronomia titulo-gastronomia "
      "imagen1 parrafo1"
      "parrafo2 imagen2"
      "footer footer";

    .titulo-gastronomia {
      width: 100%;
      height: 70vh;
    }
    .imagen1 {
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 1rem;
    }
    .parrafo1 {
      height: 18rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .imagen2 {
      margin-right: 5rem;
      margin-left: 5rem;
      margin-bottom: 4%;
    }
    .parrafo2 {
      height: 18rem;
      margin-left: 5rem;
      margin-right: 5rem;
    }
    p {
      color: rgb(54, 54, 54);
      font-size: 15px;
      font-family: monospace;
      line-height: 2;
    }
  }
  //tablet contacto

  .titulo-c {
    background-color: rgb(41, 116, 141);
    padding: 16%;
  }
  .contacto {
    font-size: 25px;
  }
  .white {
    text-align: center;
    font-size: 20px;
  }
}

/* ############################################ MOBILE DESIGN ############################################*/
@media screen and (max-width: 600px) {
  /* Mobile Home*/
  main.contenedor-seccion {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "section-imagen1"
      "section-parrafo1"
      "section-imagen2"
      "section-parrafo2"
      "footer";
    display: grid;

    .title {
      @include sizes(100%, 40vh);
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.466),
          rgba(0, 0, 0, 0.473)
        ),
        url(../img/costa.jpg);

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      grid-area: title;
    }
    .section-imagen1 {
      padding: 2%;
      margin-left: 2%;
      grid-area: section-imagen1;
      .img__home {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 15px;
    }
    p {
      font-size: 10px;
    }

    .section-parrafo1 {
      background-color: rgb(255, 255, 255);
      margin-top: 8%;
      margin-left: 9%;
      margin-right: 10%;
      height: 82%;
      padding: 2%;
      grid-area: section-parrafo1;
      transition: 0.5s;

      &:hover {
        transform: scale(1.01);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
      }
    }

    .section-imagen2 {
      padding: 15px;
      grid-area: section-imagen2;
      .img__home {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
    .section-parrafo2 {
      background-color: rgb(255, 255, 255);
      margin-top: 8%;
      margin-left: 9%;
      margin-right: 10%;
      height: 82%;
      padding: 2%;
      grid-area: section-parrafo2;
      transition: 0.5s;
      &:hover {
        transform: scale(1.01);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
      }
    }
  }
  /*Mobile Galeria*/
  .tituloGaleria {
    background-color: rgb(41, 116, 141);
    padding: 7rem;
    width: 100%;
  }
  .gridContainerGaleria {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(7, 1fr);
    gap: 1rem;
    padding: 1rem;

    .foto-a {
      grid-row: 1/2;
    }
    .foto-b {
      grid-column: 1/1;
    }
  }

  /*Seccion Contacto*/

  .titulo-c {
    background-color: rgb(41, 116, 141);
    padding: 30%;
  }
  .contacto {
    font-size: 20px;
  }
  .white {
    text-align: center;
    font-size: 15px;
  }

  .mapa {
    background-color: aqua;
    height: 300px;
    width: 300px;
  }
}
